.container1{
    display: flex;
    justify-content:space-around;
}


.follow-btn {
    width: 97px;
    height: 29pxf;
}


.mw-550 {
    max-width: 550px;
}

.mw-500 {
    max-width: 500px;
}
.story {
    width: 80px;
    height: 80px;
    background-image: url('../Ellipse\ 36.png');
    background-size: cover;
}





    









